[submodule "Game-of-Drones"]
	path = Game-of-Drones
	url = https://github.com/justinhchae/Game-of-Drones
[submodule "TheHappyMammoths"]
	path = TheHappyMammoths
	url = https://github.com/AneryPatel/TheHappyMammoths
[submodule "The-Royal-Zombies"]
	path = The-Royal-Zombies
	url = https://github.com/shivangi19961/The-Royal-Zombies
[submodule "The-Exalted-Spartans"]
	path = The-Exalted-Spartans
	url = https://github.com/dmavrofridis/The-Exalted-Spartans
[submodule "The-Dapper-Squirrels"]
	path = The-Dapper-Squirrels
	url = https://github.com/NU-DSS-The-Dapper-Squirrels/The-Dapper-Squirrels
[submodule "The-Glorious-Boomers"]
	path = The-Glorious-Boomers
	url = https://github.com/devyanigaurinu/The-Glorious-Boomers
[submodule "The-Earnest-Pirates"]
	path = The-Earnest-Pirates
	url = https://github.com/tejulp/The-Earnest-Pirates
[submodule "The-Brave-Dingos"]
	path = The-Brave-Dingos
	url = https://github.com/dhruvnarayan23/The-Brave-Dingos
[submodule "The-Freedom-Donkeys"]
	path = The-Freedom-Donkeys
	url = https://github.com/jacobkwat/The-Freedom-Donkeys.git
[submodule "The-Silent-Foxes"]
	path = The-Silent-Foxes
	url = https://github.com/Aa1024xx/The-Silent-Foxes
[submodule "The-Flying-Koalas"]
	path = The-Flying-Koalas
	url = https://github.com/madison-mcclellan/The-Flying-Koalas
[submodule "The-Magic-Squids"]
	path = The-Magic-Squids
	url = https://github.com/jjjacksonoh/The-Magic-Squids.git
[submodule "The-Majestic-Barracudas"]
	path = The-Majestic-Barracudas
	url = https://github.com/NicholasKao/The-Majestic-Barracudas
[submodule "The-Regal-Swans"]
	path = The-Regal-Swans
	url = https://github.com/RuijieYu/The-Regal-Swans
[submodule "The-Brave-Ducks"]
	path = The-Brave-Ducks
	url = https://github.com/Peiyj/The-Brave-Ducks
[submodule "The Quick Turkeys"]
	path = The Quick Turkeys
	url = https://github.com/haorenzhi/The-Quick-Turkeys
[submodule "The-Determined-Eagles"]
	path = The-Determined-Eagles
	url = https://github.com/trickortea/The-Determined-Eagles.git
[submodule "Data-Pirates"]
	path = Data-Pirates
	url = https://github.com/kavyajaganathan/Data-Pirates
[submodule "The-Hungry-Hornets"]
	path = The-Hungry-Hornets
	url = https://github.com/baljash-cheema/The-Hungry-Hornets
