[submodule "The Freedom Deer"]
	path = The Freedom Deer
	url = https://github.com/lqwdev/ai339-project
[submodule "Game-of-Drones"]
	path = Game-of-Drones
	url = https://github.com/justinhchae/Game-of-Drones
[submodule "Data-Pirates"]
	path = Data-Pirates
	url = https://github.com/kavyajaganathan/Data-Pirates
[submodule "TheHappyMammoths"]
	path = TheHappyMammoths
	url = https://github.com/AneryPatel/TheHappyMammoths
[submodule "The-Royal-Zombies"]
	path = The-Royal-Zombies
	url = https://github.com/shivangi19961/The-Royal-Zombies
[submodule "The-Exalted-Spartans"]
	path = The-Exalted-Spartans
	url = https://github.com/dmavrofridis/The-Exalted-Spartans
[submodule "The-Dapper-Squirrels"]
	path = The-Dapper-Squirrels
	url = https://github.com/NU-DSS-The-Dapper-Squirrels/The-Dapper-Squirrels
[submodule "The-Glorious-Boomers"]
	path = The-Glorious-Boomers
	url = https://github.com/devyanigaurinu/The-Glorious-Boomers
[submodule "The-Earnest-Pirates"]
	path = The-Earnest-Pirates
	url = https://github.com/tejulp/The-Earnest-Pirates
