[submodule "The Freedom Deer"]
	path = The Freedom Deer
	url = https://github.com/lqwdev/ai339-project
[submodule "Game-of-Drones"]
	path = Game-of-Drones
	url = https://github.com/justinhchae/Game-of-Drones
[submodule "Data-Pirates"]
	path = Data-Pirates
	url = https://github.com/kavyajaganathan/Data-Pirates
[submodule "TheHappyMammoths"]
	path = TheHappyMammoths
	url = https://github.com/AneryPatel/TheHappyMammoths
